<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Create a New Puppy</title>
  </head>
  <body>
<form method="post" action="/puppy">
  <label for="name"> Puppy Name</label>
  <input type="text" id="name" name="name">
  <label for="breed"> Puppy Breed</label>
  <input type="text" id="breed" name="breed">
  <label for="months_old"> Puppy Months_Old</label>
  <input type="text" id="months_old" name="months_old">
  <p><button type="submit" value="submit">Submit</button></p>
</form>
</body>
</html>
